* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8FBC8F;
    width: 65%;
    height: 80px;
    padding: 0 40px;
    border-radius: 50px;
}

.links a {
    text-decoration: none;
    color: #eafdece5;
    font-weight: bold;
    margin: 0 15px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card h1 {
    color: #2E7D32;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    background-color: #2E7D32;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}